@using WorkflowWeb.ViewModels
@model TIMS_ProjectActionItemViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();

    var ui_html_target = (ViewContext.RouteData.Values["ui_html_target"] ?? Request.QueryString["ui_html_target"]) as string;
    var ui_list_view = (ViewContext.RouteData.Values["ui_list_view"] ?? Request.QueryString["ui_list_view"]) as string;
    var ui_modal_id = (ViewContext.RouteData.Values["ui_modal_id"] ?? Request.QueryString["ui_modal_id"]) as string;
    var ui_tab_id = (ViewContext.RouteData.Values["ui_tab_id"] ?? Request.QueryString["ui_tab_id"]) as string;
    var ui_route_filter = (ViewContext.RouteData.Values["ui_route_filter"] ?? Request.QueryString["ui_route_filter"]) as string;

    var ui_form_id = Guid.NewGuid().ToString();
}

<div>
    <div class="p-2">
        <h4>Are you sure you want to delete?</h4>
        <h5>@Model.Name</h5>
        <hr />

        <div>
            <div class="form-group row">
		    @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
		    <div class="col-md-10">
		        @Html.DisplayFor(model => model.ID)
		    </div>
		</div>

		<div class="form-group row">
		    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
		    <div class="col-md-10">
		        @Html.DisplayFor(model => model.Name)
		    </div>
		</div>

		<div class="form-group row">
		    @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
		    <div class="col-md-10">
		        @Html.DisplayFor(model => model.TIMS_Project.Name)
		    </div>
		</div>

		<div class="form-group row">
		    @Html.LabelFor(model => model.InterfaceAgreementID, htmlAttributes: new { @class = "control-label col-md-2" })
		    <div class="col-md-10">
		        @Html.DisplayFor(model => model.TIMS_ProjectInterfaceAgreement.Name)
		    </div>
		</div>

		<div class="form-group row">
		    @Html.LabelFor(model => model.InterfacePointID, htmlAttributes: new { @class = "control-label col-md-2" })
		    <div class="col-md-10">
		        @Html.DisplayFor(model => model.TIMS_ProjectInterfacePoint.ID)
		    </div>
		</div>
        </div>

        <div>

            @using (Ajax.BeginForm(
                actionName: "Delete",
                controllerName: controller,
                routeValues: new { id = Model.ID, ui_html_target, ui_list_view, ui_modal_id, ui_tab_id, ui_route_filter },
                ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnBegin = "modal_loading(true)",
                    OnSuccess = "hide_modal(this)",
                    Confirm = null,
                    AllowCache = false,
                    InsertionMode = InsertionMode.Replace,
                    OnFailure = "show_error",
                    OnComplete = "modal_loading(false)",
                    UpdateTargetId = ui_html_target
                },
                htmlAttributes: new
                {
                    @class = "d-inline form-inline",
                    id = ui_form_id
                }))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Confirm Delete</button>
            }
        </div>
    </div>
    

</div>
