@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*Common components*@
@Html.Partial("~/Views/Shared/Vue/FormInput.cshtml")
@Html.Partial("~/Views/Shared/Vue/FormUpload.cshtml")
@Html.Partial("~/Views/Shared/Vue/Select2.cshtml")
@Html.Partial("~/Views/Shared/Vue/Modal.cshtml")



@Html.Partial("~/Views/Comment/Component.cshtml")


<div id="app">
    <v-form-upload id="formupload" url="@Url.Action("Upload")" label="File Upload"></v-form-upload>
    <v-form-upload id="formupload2" url="@Url.Action("Upload")" label="File Upload"></v-form-upload>
    <v-comments></v-comments>
    <v-comments></v-comments>
</div>

<script>
    var app = new Vue({
        el: '#app'
    });
</script>



@*<div id="comments-box">
        @Html.Action("Index", "Comment1", new { html_target = "comments-box" })
    </div>*@
