@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*Common components*@
@Html.Partial("~/Views/Shared/Vue/FormInput.cshtml")
@Html.Partial("~/Views/Shared/Vue/FormUpload.cshtml")
@Html.Partial("~/Views/Shared/Vue/Select2.cshtml")
@Html.Partial("~/Views/Shared/Vue/Modal.cshtml")
@*@Html.Partial("~/Views/Shared/Vue/SideBar.cshtml")*@



@Html.Partial("~/Views/Comment/Component.cshtml")
@Html.Partial("~/Views/Upload/Component.cshtml")

<div id="app">
    @*<v-sidebar></v-sidebar>*@
    @*<v-uploads></v-uploads>
        <v-comments></v-comments>*@
    <v-comments></v-comments>
</div>

<script>
    var app = new Vue({
        el: '#app'
    });
</script>
