@using WorkflowWeb.ViewModels
@using WorkflowWeb.Models
@model IEnumerable<TIMS_ProjectAttachmentViewModel>
    @{
        var controller = ViewContext.RouteData.Values["controller"].ToString();

        var ui_html_target = (ViewContext.RouteData.Values["ui_html_target"] ?? Request.QueryString["ui_html_target"]) as string;
        var ui_list_view = (ViewContext.RouteData.Values["ui_list_view"] ?? Request.QueryString["ui_list_view"]) as string;
        var ui_modal_id = Guid.NewGuid().ToString();
        var ui_tab_id = (ViewContext.RouteData.Values["ui_tab_id"] ?? Request.QueryString["ui_tab_id"]) as string;
        var ui_route_filter = (ViewContext.RouteData.Values["ui_route_filter"] ?? Request.QueryString["ui_route_filter"]) as string;

        var ui_form_id = Guid.NewGuid().ToString();

        var modalId = Guid.NewGuid().ToString();

        var currentId = ViewBag.CurrentID as object;
        var currentItem = currentId == null ? Model.FirstOrDefault() : Model.FirstOrDefault(x => x.ID.ToString() == currentId.ToString());
        var currentRouteFilter = ViewBag.RouteFilter as TIMS_ProjectAttachment;
    }

    <div>
        <div class="row p-2">
            <div class="col">
                <h3>Project Attachments</h3>
            </div>
            <div class="ml-auto mr-2">
                <a class="btn btn-outline-success btn-sm" 
                   data-ajax="true" 
                   data-ajax-begin="show_modal('@(ui_modal_id)', 'Add New Project Attachment')" 
                   data-ajax-complete="modal_loading(false)" 
                   data-ajax-failure="show_error" 
                   data-ajax-method="GET" 
                   data-ajax-mode="replace" 
                   data-ajax-update="#@(ui_modal_id)_body" 
                   href="@Url.Action("New", controller, new { ui_html_target, ui_list_view, ui_modal_id, ui_tab_id, ui_route_filter })"><i class="fas fa-plus-circle"></i> New</a>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            
                        </th>
                        @if (currentRouteFilter.Name == null) { <th>@Html.DisplayNameFor(m => m.Name)</th> }
						@if (currentRouteFilter.ProjectInterfacePointWorkflowID == null) { <th>@Html.DisplayNameFor(m => m.ProjectInterfacePointWorkflowID)</th> }
						@if (currentRouteFilter.ProjectInterfaceAgreementWorkflowID == null) { <th>@Html.DisplayNameFor(m => m.ProjectInterfaceAgreementWorkflowID)</th> }
						@if (currentRouteFilter.ProjectActionItemWorkflowID == null) { <th>@Html.DisplayNameFor(m => m.ProjectActionItemWorkflowID)</th> }
						@if (currentRouteFilter.PackageID == null) { <th>@Html.DisplayNameFor(m => m.PackageID)</th> }
						@if (currentRouteFilter.Filename == null) { <th>@Html.DisplayNameFor(m => m.Filename)</th> }
						@if (currentRouteFilter.DateUploaded == null) { <th>@Html.DisplayNameFor(m => m.DateUploaded)</th> }
						@if (currentRouteFilter.UserID == null) { <th>@Html.DisplayNameFor(m => m.UserID)</th> }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(currentItem != null && item.ID == currentItem.ID ? "table-warning" : "")">
                            <td>
                                <a class="btn btn-outline-primary btn-sm" 
                                   data-ajax="true" 
                                   data-ajax-begin="show_modal('@(ui_modal_id)')" 
                                   data-ajax-complete="modal_loading(false)" 
                                   data-ajax-failure="show_error" 
                                   data-ajax-method="GET" 
                                   data-ajax-mode="replace" 
                                   data-ajax-update="#@(ui_modal_id)_body" 
                                   href="@Url.Action("Details", controller, new { id = item.ID, ui_html_target, ui_list_view, ui_modal_id, ui_tab_id, ui_route_filter })"><i class="fas fa-eye"></i> View</a>
                            </td>
                            @if (currentRouteFilter.Name == null) { <td>@Html.DisplayFor(modelItem => item.Name)</td> }
						@if (currentRouteFilter.ProjectInterfacePointWorkflowID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectInterfacePointWorkflow.WorkflowTypeID)</td> }
						@if (currentRouteFilter.ProjectInterfaceAgreementWorkflowID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectInterfaceAgreementWorkflow.WorkflowTypeID)</td> }
						@if (currentRouteFilter.ProjectActionItemWorkflowID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectActionItemWorkflow.WorkflowTypeID)</td> }
						@if (currentRouteFilter.PackageID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectPackage.Name)</td> }
						@if (currentRouteFilter.Filename == null) { <td>@Html.DisplayFor(modelItem => item.Filename)</td> }
						@if (currentRouteFilter.DateUploaded == null) { <td>@Html.DisplayFor(modelItem => item.DateUploaded)</td> }
						@if (currentRouteFilter.UserID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_User.Name)</td> }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
