@using WorkflowWeb.ViewModels
@using WorkflowWeb.Models
@model IEnumerable<TIMS_ProjectInterfacePointWorkflowViewModel>
    @{
        var controller = ViewContext.RouteData.Values["controller"].ToString();

        var ui_html_target = (ViewContext.RouteData.Values["ui_html_target"] ?? Request.QueryString["ui_html_target"]) as string;
        var ui_list_view = (ViewContext.RouteData.Values["ui_list_view"] ?? Request.QueryString["ui_list_view"]) as string;
        var ui_modal_id = Guid.NewGuid().ToString();
        var ui_tab_id = (ViewContext.RouteData.Values["ui_tab_id"] ?? Request.QueryString["ui_tab_id"]) as string;
        var ui_route_filter = (ViewContext.RouteData.Values["ui_route_filter"] ?? Request.QueryString["ui_route_filter"]) as string;

        var ui_form_id = Guid.NewGuid().ToString();

        var modalId = Guid.NewGuid().ToString();

        var currentId = ViewBag.CurrentID as object;
        var currentItem = currentId == null ? Model.FirstOrDefault() : Model.FirstOrDefault(x => x.ID.ToString() == currentId.ToString());
        var currentRouteFilter = ViewBag.RouteFilter as TIMS_ProjectInterfacePointWorkflow;
    }

    <div>
        <h3>Project Interface Point Workflows</h3>
        <div class="text-right mb-2">
            @Ajax.ActionLink(
            linkText: "Add New Project Interface Point Workflow..",
            actionName: "New",
            controllerName: controller,
            routeValues: new { ui_html_target, ui_list_view, ui_modal_id, ui_tab_id, ui_route_filter },
            ajaxOptions: new AjaxOptions
            {
                HttpMethod = "GET",
                OnBegin = "show_modal('" + ui_modal_id + "')",
                OnSuccess = "",
                Confirm = null,
                AllowCache = false,
                InsertionMode = InsertionMode.Replace,
                OnFailure = "show_error",
                OnComplete = "modal_loading(false)",
                UpdateTargetId = ui_modal_id + "_body"
            },
            htmlAttributes: new
            {
                @class = "btn btn-outline-primary btn-sm"
            })
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            View
                        </th>
                        @if (currentRouteFilter.WorkflowTypeID == null) { <th>@Html.DisplayNameFor(m => m.WorkflowTypeID)</th> }
						@if (currentRouteFilter.InterfacePointID == null) { <th>@Html.DisplayNameFor(m => m.InterfacePointID)</th> }
						@if (currentRouteFilter.DateInitiated == null) { <th>@Html.DisplayNameFor(m => m.DateInitiated)</th> }
						@if (currentRouteFilter.LeadStateID == null) { <th>@Html.DisplayNameFor(m => m.LeadStateID)</th> }
						@if (currentRouteFilter.InterfaceStateID == null) { <th>@Html.DisplayNameFor(m => m.InterfaceStateID)</th> }
						@if (currentRouteFilter.SupportStateID == null) { <th>@Html.DisplayNameFor(m => m.SupportStateID)</th> }
						@if (currentRouteFilter.ProjectAreaID == null) { <th>@Html.DisplayNameFor(m => m.ProjectAreaID)</th> }
						@if (currentRouteFilter.ProjectPhysicalAreaID == null) { <th>@Html.DisplayNameFor(m => m.ProjectPhysicalAreaID)</th> }
						@if (currentRouteFilter.PhaseID == null) { <th>@Html.DisplayNameFor(m => m.PhaseID)</th> }
						@if (currentRouteFilter.InterfaceTypeID == null) { <th>@Html.DisplayNameFor(m => m.InterfaceTypeID)</th> }
						@if (currentRouteFilter.UserID == null) { <th>@Html.DisplayNameFor(m => m.UserID)</th> }
						@if (currentRouteFilter.IsDraft == null) { <th>@Html.DisplayNameFor(m => m.IsDraft)</th> }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(currentItem != null && item.ID == currentItem.ID ? "table-warning" : "")">
                            <td>
                                @Ajax.ActionLink(
                                    linkText: "View",
                                    actionName: "Details",
                                    controllerName: controller,
                                    routeValues: new { id = item.ID, ui_html_target, ui_list_view, ui_modal_id, ui_tab_id, ui_route_filter },
                                    ajaxOptions: new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        OnBegin = "show_modal('" + ui_modal_id + "')",
                                        OnSuccess = "",
                                        Confirm = null,
                                        AllowCache = false,
                                        InsertionMode = InsertionMode.Replace,
                                        OnFailure = "show_error",
                                        OnComplete = "modal_loading(false)",
                                        UpdateTargetId = ui_modal_id + "_body"
                                    },
                                    htmlAttributes: new
                                    {
                                        @class = "btn btn-outline-primary btn-sm"
                                    })
                            </td>
                            @if (currentRouteFilter.WorkflowTypeID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_WorkflowType.ID)</td> }
						@if (currentRouteFilter.InterfacePointID == null) { <td>@Html.DisplayFor(modelItem => item.InterfacePointID)</td> }
						@if (currentRouteFilter.DateInitiated == null) { <td>@Html.DisplayFor(modelItem => item.DateInitiated)</td> }
						@if (currentRouteFilter.LeadStateID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_WorkflowState.ID)</td> }
						@if (currentRouteFilter.InterfaceStateID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_WorkflowState1.ID)</td> }
						@if (currentRouteFilter.SupportStateID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_WorkflowState2.ID)</td> }
						@if (currentRouteFilter.ProjectAreaID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectArea.Name)</td> }
						@if (currentRouteFilter.ProjectPhysicalAreaID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectPhysicalArea.Name)</td> }
						@if (currentRouteFilter.PhaseID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_Phase.ID)</td> }
						@if (currentRouteFilter.InterfaceTypeID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectDisciplineInterfaceType.Name)</td> }
						@if (currentRouteFilter.UserID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_User.Name)</td> }
						@if (currentRouteFilter.IsDraft == null) { <td>@Html.DisplayFor(modelItem => item.IsDraft)</td> }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
