@using WorkflowWeb.ViewModels
@using WorkflowWeb.Models
@model IEnumerable<TIMS_ProjectInterfaceAgreementViewModel>
    @{
        var controller = ViewContext.RouteData.Values["controller"].ToString();

        var ui_html_target = (ViewContext.RouteData.Values["ui_html_target"] ?? Request.QueryString["ui_html_target"]) as string;
        var ui_list_view = (ViewContext.RouteData.Values["ui_list_view"] ?? Request.QueryString["ui_list_view"]) as string;
        var ui_modal_id = Guid.NewGuid().ToString();
        var ui_tab_id = (ViewContext.RouteData.Values["ui_tab_id"] ?? Request.QueryString["ui_tab_id"]) as string;
        var ui_route_filter = (ViewContext.RouteData.Values["ui_route_filter"] ?? Request.QueryString["ui_route_filter"]) as string;

        var ui_form_id = Guid.NewGuid().ToString();

        var modalId = Guid.NewGuid().ToString();

        var currentId = ViewBag.CurrentID as object;
        var currentItem = currentId == null ? Model.FirstOrDefault() : Model.FirstOrDefault(x => x.ID.ToString() == currentId.ToString());
        var currentRouteFilter = ViewBag.RouteFilter as TIMS_ProjectInterfaceAgreement;
    }

    <div>
        <h3>Project Interface Agreements</h3>
        <div class="text-right mb-2">
            @Ajax.ActionLink(
            linkText: "Add New Project Interface Agreement..",
            actionName: "New",
            controllerName: controller,
            routeValues: new { ui_html_target, ui_list_view, ui_modal_id, ui_tab_id, ui_route_filter },
            ajaxOptions: new AjaxOptions
            {
                HttpMethod = "GET",
                OnBegin = "show_modal('" + ui_modal_id + "')",
                OnSuccess = "",
                Confirm = null,
                AllowCache = false,
                InsertionMode = InsertionMode.Replace,
                OnFailure = "show_error",
                OnComplete = "modal_loading(false)",
                UpdateTargetId = ui_modal_id + "_body"
            },
            htmlAttributes: new
            {
                @class = "btn btn-outline-primary btn-sm"
            })
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            View
                        </th>
                        @if (currentRouteFilter.Name == null) { <th>@Html.DisplayNameFor(m => m.Name)</th> }
						@if (currentRouteFilter.InterfacePointID == null) { <th>@Html.DisplayNameFor(m => m.InterfacePointID)</th> }
						@if (currentRouteFilter.RequestorPackageID == null) { <th>@Html.DisplayNameFor(m => m.RequestorPackageID)</th> }
						@if (currentRouteFilter.ResponderPackageID == null) { <th>@Html.DisplayNameFor(m => m.ResponderPackageID)</th> }
						@if (currentRouteFilter.RequestorUserID == null) { <th>@Html.DisplayNameFor(m => m.RequestorUserID)</th> }
						@if (currentRouteFilter.RequestorTechnicalContactID == null) { <th>@Html.DisplayNameFor(m => m.RequestorTechnicalContactID)</th> }
						@if (currentRouteFilter.ResponderInterfaceManagerID == null) { <th>@Html.DisplayNameFor(m => m.ResponderInterfaceManagerID)</th> }
						@if (currentRouteFilter.ResponderTechnicalContactID == null) { <th>@Html.DisplayNameFor(m => m.ResponderTechnicalContactID)</th> }
						@if (currentRouteFilter.CreateDate == null) { <th>@Html.DisplayNameFor(m => m.CreateDate)</th> }
						@if (currentRouteFilter.NeedDate == null) { <th>@Html.DisplayNameFor(m => m.NeedDate)</th> }
						@if (currentRouteFilter.IssuedDate == null) { <th>@Html.DisplayNameFor(m => m.IssuedDate)</th> }
						@if (currentRouteFilter.AcceptedDate == null) { <th>@Html.DisplayNameFor(m => m.AcceptedDate)</th> }
						@if (currentRouteFilter.ResponseDate == null) { <th>@Html.DisplayNameFor(m => m.ResponseDate)</th> }
						@if (currentRouteFilter.CloseDate == null) { <th>@Html.DisplayNameFor(m => m.CloseDate)</th> }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(currentItem != null && item.ID == currentItem.ID ? "table-warning" : "")">
                            <td>
                                @Ajax.ActionLink(
                                    linkText: "View",
                                    actionName: "Details",
                                    controllerName: controller,
                                    routeValues: new { id = item.ID, ui_html_target, ui_list_view, ui_modal_id, ui_tab_id, ui_route_filter },
                                    ajaxOptions: new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        OnBegin = "show_modal('" + ui_modal_id + "')",
                                        OnSuccess = "",
                                        Confirm = null,
                                        AllowCache = false,
                                        InsertionMode = InsertionMode.Replace,
                                        OnFailure = "show_error",
                                        OnComplete = "modal_loading(false)",
                                        UpdateTargetId = ui_modal_id + "_body"
                                    },
                                    htmlAttributes: new
                                    {
                                        @class = "btn btn-outline-primary btn-sm"
                                    })
                            </td>
                            @if (currentRouteFilter.Name == null) { <td>@Html.DisplayFor(modelItem => item.Name)</td> }
						@if (currentRouteFilter.InterfacePointID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectInterfacePoint.ID)</td> }
						@if (currentRouteFilter.RequestorPackageID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectPackage.Name)</td> }
						@if (currentRouteFilter.ResponderPackageID == null) { <td>@Html.DisplayFor(modelItem => item.TIMS_ProjectPackage1.Name)</td> }
						@if (currentRouteFilter.RequestorUserID == null) { <td>@Html.DisplayFor(modelItem => item.RequestorUserID)</td> }
						@if (currentRouteFilter.RequestorTechnicalContactID == null) { <td>@Html.DisplayFor(modelItem => item.RequestorTechnicalContactID)</td> }
						@if (currentRouteFilter.ResponderInterfaceManagerID == null) { <td>@Html.DisplayFor(modelItem => item.ResponderInterfaceManagerID)</td> }
						@if (currentRouteFilter.ResponderTechnicalContactID == null) { <td>@Html.DisplayFor(modelItem => item.ResponderTechnicalContactID)</td> }
						@if (currentRouteFilter.CreateDate == null) { <td>@Html.DisplayFor(modelItem => item.CreateDate)</td> }
						@if (currentRouteFilter.NeedDate == null) { <td>@Html.DisplayFor(modelItem => item.NeedDate)</td> }
						@if (currentRouteFilter.IssuedDate == null) { <td>@Html.DisplayFor(modelItem => item.IssuedDate)</td> }
						@if (currentRouteFilter.AcceptedDate == null) { <td>@Html.DisplayFor(modelItem => item.AcceptedDate)</td> }
						@if (currentRouteFilter.ResponseDate == null) { <td>@Html.DisplayFor(modelItem => item.ResponseDate)</td> }
						@if (currentRouteFilter.CloseDate == null) { <td>@Html.DisplayFor(modelItem => item.CloseDate)</td> }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
