@using WorkflowWeb.ViewModels
@using WorkflowWeb.Models
@model IEnumerable<T_CommentViewModel>
    @{
        var controller = ViewContext.RouteData.Values["controller"].ToString();

        var ui_html_target = (ViewContext.RouteData.Values["ui_html_target"] ?? Request.QueryString["ui_html_target"]) as string;
        var ui_list_view = (ViewContext.RouteData.Values["ui_list_view"] ?? Request.QueryString["ui_list_view"]) as string;
        var ui_modal_id = Guid.NewGuid().ToString();
        var ui_tab_id = (ViewContext.RouteData.Values["ui_tab_id"] ?? Request.QueryString["ui_tab_id"]) as string;
        var ui_route_filter = (ViewContext.RouteData.Values["ui_route_filter"] ?? Request.QueryString["ui_route_filter"]) as string;

        var ui_form_id = Guid.NewGuid().ToString();

        var modalId = Guid.NewGuid().ToString();

        var currentId = ViewBag.CurrentID as object;
        var currentItem = currentId == null ? Model.FirstOrDefault() : Model.FirstOrDefault(x => x.ID.ToString() == currentId.ToString());
        var currentRouteFilter = ViewBag.RouteFilter as T_Comment;
    }

    <div>
        <div class="row p-2">
            <div class="col">
                <h3>Comments</h3>
            </div>
            <div class="ml-auto mr-2">
                <a class="btn btn-outline-success btn-sm" 
                   data-ajax="true" 
                   data-ajax-begin="show_modal('@(ui_modal_id)', 'Add New Comment')" 
                   data-ajax-complete="modal_loading(false)" 
                   data-ajax-failure="show_error" 
                   data-ajax-method="GET" 
                   data-ajax-mode="replace" 
                   data-ajax-update="#@(ui_modal_id)_body" 
                   href="@Url.Action("New", controller, new { ui_html_target, ui_list_view, ui_modal_id, ui_tab_id, ui_route_filter })"><i class="fas fa-plus-circle"></i> New</a>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            
                        </th>
                        @if (currentRouteFilter.DomainID == null) { <th>@Html.DisplayNameFor(m => m.DomainID)</th> }
						@if (currentRouteFilter.Path == null) { <th>@Html.DisplayNameFor(m => m.Path)</th> }
						@if (currentRouteFilter.IP == null) { <th>@Html.DisplayNameFor(m => m.IP)</th> }
						@if (currentRouteFilter.Name == null) { <th>@Html.DisplayNameFor(m => m.Name)</th> }
						@if (currentRouteFilter.Comment == null) { <th>@Html.DisplayNameFor(m => m.Comment)</th> }
						@if (currentRouteFilter.ParentID == null) { <th>@Html.DisplayNameFor(m => m.ParentID)</th> }
						@if (currentRouteFilter.DatePosted == null) { <th>@Html.DisplayNameFor(m => m.DatePosted)</th> }
						@if (currentRouteFilter.QueryString == null) { <th>@Html.DisplayNameFor(m => m.QueryString)</th> }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(currentItem != null && item.ID == currentItem.ID ? "table-warning" : "")">
                            <td>
                                <a class="btn btn-outline-primary btn-sm" 
                                   data-ajax="true" 
                                   data-ajax-begin="show_modal('@(ui_modal_id)')" 
                                   data-ajax-complete="modal_loading(false)" 
                                   data-ajax-failure="show_error" 
                                   data-ajax-method="GET" 
                                   data-ajax-mode="replace" 
                                   data-ajax-update="#@(ui_modal_id)_body" 
                                   href="@Url.Action("Details", controller, new { id = item.ID, ui_html_target, ui_list_view, ui_modal_id, ui_tab_id, ui_route_filter })"><i class="fas fa-eye"></i> View</a>
                            </td>
                            @if (currentRouteFilter.DomainID == null) { <td>@Html.DisplayFor(modelItem => item.T_Domain.ID)</td> }
						@if (currentRouteFilter.Path == null) { <td>@Html.DisplayFor(modelItem => item.Path)</td> }
						@if (currentRouteFilter.IP == null) { <td>@Html.DisplayFor(modelItem => item.IP)</td> }
						@if (currentRouteFilter.Name == null) { <td>@Html.DisplayFor(modelItem => item.Name)</td> }
						@if (currentRouteFilter.Comment == null) { <td>@Html.DisplayFor(modelItem => item.Comment)</td> }
						@if (currentRouteFilter.ParentID == null) { <td>@Html.DisplayFor(modelItem => item.T_Comment1.DomainID)</td> }
						@if (currentRouteFilter.DatePosted == null) { <td>@Html.DisplayFor(modelItem => item.DatePosted)</td> }
						@if (currentRouteFilter.QueryString == null) { <td>@Html.DisplayFor(modelItem => item.QueryString)</td> }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
