@model WorkflowWeb.Models.T_Comment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>T_Comment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Path)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Path)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DatePosted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DatePosted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.QueryString)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.QueryString)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.T_Comment2.DomainID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.T_Comment2.DomainID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.T_Domain.Host)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.T_Domain.Host)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
