@using WorkflowWeb.ViewModels
@model TIMS_UserViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();

    var ui_html_target = (ViewContext.RouteData.Values["ui_html_target"] ?? Request.QueryString["ui_html_target"]) as string;
    var ui_list_view = (ViewContext.RouteData.Values["ui_list_view"] ?? Request.QueryString["ui_list_view"]) as string;
    var ui_modal_id = Guid.NewGuid().ToString();
    var ui_tab_id = (ViewContext.RouteData.Values["ui_tab_id"] ?? Request.QueryString["ui_tab_id"]) as string;
    var ui_route_filter = (ViewContext.RouteData.Values["ui_route_filter"] ?? Request.QueryString["ui_route_filter"]) as string;

    var ui_form_id = Guid.NewGuid().ToString();

    var currentItem = Model;
}

<h1>@currentItem.Name</h1>
<div>
    <script>
        $(function () {
            if ("@ui_tab_id" == "") {
                $('#tabs-TIMS_User a').first().tab('show');
            }
            else {
                $('#tabs-TIMS_User a[href="#@ui_tab_id"]').tab('show');
            }

        });
    </script>
    <div class="row">
        <div class="col-2 border-right">
            <div class="nav flex-column nav-pills" id="tabs-TIMS_User">
                <a class="nav-link" data-toggle="pill" href="#tab-TIMS_User-">User Details</a>
                <a class="nav-link" data-toggle="pill" href="#tab-TIMS_User-TIMS_ProjectActionItemWorkflow">Project Action Item Workflows</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_User-TIMS_ProjectAttachment">Project Attachments</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_User-TIMS_ProjectComment">Project Comments</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_User-TIMS_ProjectInterfaceAgreementWorkflow">Project Interface Agreement Workflows</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_User-TIMS_ProjectInterfacePointWorkflow">Project Interface Point Workflows</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_User-TIMS_UserRole">Roles</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_User-TIMS_UserWatchlistItem">Watchlist Items</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="tabContent-TIMS_User">
                <div class="tab-pane fade p-2" id="tab-TIMS_User-">
                    @Html.Action(actionName: "Details", controllerName: controller, routeValues: new { partial = true, id = currentItem.ID, ui_html_target, ui_modal_id, ui_list_view, ui_route_filter })
                </div>
                <div class="tab-pane fade p-2" id="tab-TIMS_User-TIMS_ProjectActionItemWorkflow">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectActionItemWorkflow", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectActionItemWorkflowViewModel { UserID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_User-TIMS_ProjectActionItemWorkflow", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_User-TIMS_ProjectAttachment">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectAttachment", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectAttachmentViewModel { UserID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_User-TIMS_ProjectAttachment", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_User-TIMS_ProjectComment">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectComment", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectCommentViewModel { UserID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_User-TIMS_ProjectComment", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_User-TIMS_ProjectInterfaceAgreementWorkflow">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectInterfaceAgreementWorkflow", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectInterfaceAgreementWorkflowViewModel { UserID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_User-TIMS_ProjectInterfaceAgreementWorkflow", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_User-TIMS_ProjectInterfacePointWorkflow">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectInterfacePointWorkflow", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectInterfacePointWorkflowViewModel { UserID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_User-TIMS_ProjectInterfacePointWorkflow", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_User-TIMS_UserRole">
    @Html.Action(actionName: "List", controllerName: "TIMS_UserRole", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_UserRoleViewModel { UserID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_User-TIMS_UserRole", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_User-TIMS_UserWatchlistItem">
    @Html.Action(actionName: "List", controllerName: "TIMS_UserWatchlistItem", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_UserWatchlistItemViewModel { UserID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_User-TIMS_UserWatchlistItem", ui_list_view = "ListTable" })
</div>
            </div>
        </div>
    </div>
</div>
