@using WorkflowWeb.ViewModels
@model TIMS_ProjectViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();

    var ui_html_target = (ViewContext.RouteData.Values["ui_html_target"] ?? Request.QueryString["ui_html_target"]) as string;
    var ui_list_view = (ViewContext.RouteData.Values["ui_list_view"] ?? Request.QueryString["ui_list_view"]) as string;
    var ui_modal_id = Guid.NewGuid().ToString();
    var ui_tab_id = (ViewContext.RouteData.Values["ui_tab_id"] ?? Request.QueryString["ui_tab_id"]) as string;
    var ui_route_filter = (ViewContext.RouteData.Values["ui_route_filter"] ?? Request.QueryString["ui_route_filter"]) as string;

    var ui_form_id = Guid.NewGuid().ToString();

    var currentItem = Model;
}

<h1>@currentItem.Name</h1>
<div>
    <script>
        $(function () {
            if ("@ui_tab_id" == "") {
                $('#tabs-TIMS_Project a').first().tab('show');
            }
            else {
                $('#tabs-TIMS_Project a[href="#@ui_tab_id"]').tab('show');
            }

        });
    </script>
    <div class="row">
        <div class="col-2 border-right">
            <div class="nav flex-column nav-pills" id="tabs-TIMS_Project">
                <a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-">Project Details</a>
                <a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_ProjectActionItem">Action Items</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_ProjectArea">Areas</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_ProjectComment">Comments</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_ProjectContractor">Contractors</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_ProjectDiscipline">Disciplines</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_ProjectInterfaceAgreement">Interface Agreements</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_ProjectInterfacePoint">Interface Points</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_ProjectPackage">Packages</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_ProjectPhysicalArea">Physical Areas</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_Project-TIMS_UserRole">User Roles</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="tabContent-TIMS_Project">
                <div class="tab-pane fade p-2" id="tab-TIMS_Project-">
                    @Html.Action(actionName: "Details", controllerName: controller, routeValues: new { partial = true, id = currentItem.ID, ui_html_target, ui_modal_id, ui_list_view, ui_route_filter })
                </div>
                <div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_ProjectActionItem">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectActionItem", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectActionItemViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_ProjectActionItem", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_ProjectArea">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectArea", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectAreaViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_ProjectArea", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_ProjectComment">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectComment", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectCommentViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_ProjectComment", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_ProjectContractor">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectContractor", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectContractorViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_ProjectContractor", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_ProjectDiscipline">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectDiscipline", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectDisciplineViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_ProjectDiscipline", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_ProjectInterfaceAgreement">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectInterfaceAgreement", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectInterfaceAgreementViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_ProjectInterfaceAgreement", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_ProjectInterfacePoint">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectInterfacePoint", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectInterfacePointViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_ProjectInterfacePoint", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_ProjectPackage">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectPackage", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectPackageViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_ProjectPackage", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_ProjectPhysicalArea">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectPhysicalArea", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectPhysicalAreaViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_ProjectPhysicalArea", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_Project-TIMS_UserRole">
    @Html.Action(actionName: "List", controllerName: "TIMS_UserRole", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_UserRoleViewModel { ProjectID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Project-TIMS_UserRole", ui_list_view = "ListTable" })
</div>
            </div>
        </div>
    </div>
</div>
