@using WorkflowWeb.ViewModels
@model TIMS_ProjectDisciplineInterfaceTypeViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();

    var ui_html_target = (ViewContext.RouteData.Values["ui_html_target"] ?? Request.QueryString["ui_html_target"]) as string;
    var ui_list_view = (ViewContext.RouteData.Values["ui_list_view"] ?? Request.QueryString["ui_list_view"]) as string;
    var ui_modal_id = Guid.NewGuid().ToString();
    var ui_tab_id = (ViewContext.RouteData.Values["ui_tab_id"] ?? Request.QueryString["ui_tab_id"]) as string;
    var ui_route_filter = (ViewContext.RouteData.Values["ui_route_filter"] ?? Request.QueryString["ui_route_filter"]) as string;

    var ui_form_id = Guid.NewGuid().ToString();

    var currentItem = Model;
}

<h1>@currentItem.Name</h1>
<div>
    <script>
        $(function () {
            if ("@ui_tab_id" == "") {
                $('#tabs-TIMS_ProjectDisciplineInterfaceType a').first().tab('show');
            }
            else {
                $('#tabs-TIMS_ProjectDisciplineInterfaceType a[href="#@ui_tab_id"]').tab('show');
            }

        });
    </script>
    <div class="row">
        <div class="col-2 border-right">
            <div class="nav flex-column nav-pills" id="tabs-TIMS_ProjectDisciplineInterfaceType">
                <a class="nav-link" data-toggle="pill" href="#tab-TIMS_ProjectDisciplineInterfaceType-">Project Discipline Interface Type Details</a>
                <a class="nav-link" data-toggle="pill" href="#tab-TIMS_ProjectDisciplineInterfaceType-TIMS_ProjectDisciplineInterfaceTypeField">Fields</a>
<a class="nav-link" data-toggle="pill" href="#tab-TIMS_ProjectDisciplineInterfaceType-TIMS_ProjectInterfacePointWorkflow">Project Interface Point Workflows</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="tabContent-TIMS_ProjectDisciplineInterfaceType">
                <div class="tab-pane fade p-2" id="tab-TIMS_ProjectDisciplineInterfaceType-">
                    @Html.Action(actionName: "Details", controllerName: controller, routeValues: new { partial = true, id = currentItem.ID, ui_html_target, ui_modal_id, ui_list_view, ui_route_filter })
                </div>
                <div class="tab-pane fade p-2" id="tab-TIMS_ProjectDisciplineInterfaceType-TIMS_ProjectDisciplineInterfaceTypeField">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectDisciplineInterfaceTypeField", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectDisciplineInterfaceTypeFieldViewModel { InterfaceTypeID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_ProjectDisciplineInterfaceType-TIMS_ProjectDisciplineInterfaceTypeField", ui_list_view = "ListTable" })
</div>
<div class="tab-pane fade p-2" id="tab-TIMS_ProjectDisciplineInterfaceType-TIMS_ProjectInterfacePointWorkflow">
    @Html.Action(actionName: "List", controllerName: "TIMS_ProjectInterfacePointWorkflow", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_ProjectInterfacePointWorkflowViewModel { InterfaceTypeID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_ProjectDisciplineInterfaceType-TIMS_ProjectInterfacePointWorkflow", ui_list_view = "ListTable" })
</div>
            </div>
        </div>
    </div>
</div>
